<%= form_with(model: citizen) do |form| %>
  <% if citizen.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(citizen.errors.count, "error") %> prohibited this citizen from being saved:</h2>

      <ul>
        <% citizen.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :status %>
    <%= form.check_box :status %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :cpf %>
    <%= form.text_field :cpf %>
  </div>

  <div class="field">
    <%= form.label :cns %>
    <%= form.text_field :cns %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :date_of_birth %>
    <%= form.date_select :date_of_birth %>
  </div>

  <div class="field">
    <%= form.label :telephone %>
    <%= form.text_field :telephone %>
  </div>

  <div class="field">
    <%= form.label :photo %>
    <%= form.file_field :photo, multiple: true %>
  </div>

  <%= form.fields_for :address do |address_subform| %>
    <div class="field">
      <%= address_subform.label :city %>
      <%= address_subform.text_field :city %>
    </div>

    <div class="field">
      <%= address_subform.label :complement  %>
      <%= address_subform.text_field :complement  %>
    </div>

    <div class="field">
      <%= address_subform.label :fu %>
      <%= address_subform.text_field :fu %>
    </div>

    <div class="field">
      <%= address_subform.label :ibge_code %>
      <%= address_subform.text_field :ibge_code %>
    </div>

    <div class="field">
      <%= address_subform.label :neighborhood %>
      <%= address_subform.text_field :neighborhood %>
    </div>

    <div class="field">
      <%= address_subform.label :public_place %>
      <%= address_subform.text_field :public_place %>
    </div>

    <div class="field">
      <%= address_subform.label :zipcode %>
      <%= address_subform.text_field :zipcode %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
