<%= render 'nav_bar', text: t('app.citizens') %>

<p id="notice"><%= notice %></p>

<div class="mx-5 ps-5">
  <div class="row">
    <div class="col-sm-3">
      <%= render 'search_menu', q: @q %>
    </div>
    <div class="col-sm-8">
      <%= link_to t('app.menu.new_citizen'), new_citizen_path, class: "btn btn-success text-white mb-3" %>
      <% @citizens.each do |citizen| %>
        <%= render 'citizen', citizen: citizen %>
      <% end %>

      <%= will_paginate @books, list_classes: %w(pagination justify-content-end) %>
    </div>
  </div>
</div>

